.item-estadistica-jp {
  height: 70px;
  margin-bottom: 15px;
}
.item-estadistica-jp .row {
  height: 70px;
}
.item-estadistica-jp h1, .item-estadistica-jp h2, .item-estadistica-jp h3, .item-estadistica-jp h4, .item-estadistica-jp h5 {
  line-height: 70px;
  margin-bottom: 0;
}
.item-circulo {
  width: 30px;
  height: 30px;
  background: #fff;
  border: 4px solid #5F85C3;
  border-radius: 50%;
  position: relative;
  top: calc(50% - 17.5px);
  right: 45px;
}
.item-circulo:before {
  content: " ";
  width: 45px;
  height: 1px;
  background: #000;
  top: 11px;
  left: 40px;
  position: absolute;
}
.item-porcentaje {
  content: " ";
  width: 80px;
  height: 80px;
  background: #dedede7d;
  border-radius: 50%;
  text-align: center;
  margin-top: -5px;
}
.item-dato-final {
  background: rgba(255,255,255,1);
  height:405px;
  margin-left: 20px;
  background: #dedede7d;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
}
.porcentaje-texto{
  margin: 0;
  line-height: 80px!important;
  font-weight: bold;
}

.cantidad-usuario{
  margin-left: 10px;
}

.tipo-usuario{
  margin-left: 20px;
}

.fila{
  margin-left: 100px;
}
 
.centrado{
  text-align: center;
}

.link{
  margin-left: 10px;
  
}

.informacion-cuadro{
  margin-left: 10px;
  text-align: center;
}

.iconos{
  align-content: center;
}