
.item-dato-final1 {
  background: rgba(255,255,255,1);
  height:405px;
  margin-left: 20px;
  background: #dedede7d;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
}
.porcentaje-texto{
  margin: 0;
  line-height: 80px!important;
  font-weight: bold;
}

.cantidad-usuario{
  margin-left: 10px;
}

.tipo-usuario{
  margin-left: 20px;
}

.fila{
  margin-left: 100px;
}
 
.centrado{
  text-align: center;
}

.link{
  margin-left: 10px;
  
}

.informacion-cuadro{
  margin-left: 10px;
  text-align: center;
}

.iconos{
  align-content: center;
}