.item-porcentaje {
  content: " ";
  width: 80px;
  height: 80px;
  background: #dedede7d;
  border-radius: 50%;
  text-align: center;
  margin-top: -5px;
}


.monto-recaudacion{
  margin-left: 5px;
}

.columna {
  text-align: center;
  margin-left:12px;
  background: #dedede7d;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
}

.texto-monto{
    margin-left:-10px;
    margin-top: 20px;
}
.tipo-recaudacion{
    text-align: right;
}

.contenedor-columnas{
    margin-left: 5px;
}
.porcentajes{
    margin-top:20px;
}

.contenedor-filas{
    margin-top: 70px;
}

.contenedor-total{
    margin-top:30px;
}